/*
    Copyright 2015 Yufei Li <yufeiminds@163.com>

    About the stylesheet, see http://blog.thxminds.com/ .
*/
/*
    Clear fix
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*
    Custom clear fix
    -------------------------------------------------------------------------
*/
html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  transition: background 0.2s, color 0.2s;
}
hr {
  margin: 2em auto 2em;
  width: 20%;
}
h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  line-height: 1.5;
}
h1 {
  font-size: 3.6em;
}
h2 {
  font-size: 2.4em;
}
.annotation {
  font-size: 0.8em;
  color: #666;
  font-family: Lora, Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.delay-5 {
  -webkit-animation-delay: 0.5;
  animation-delay: 0.5;
}
.delay-10 {
  -webkit-animation-delay: 1;
  animation-delay: 1;
}
.delay-15 {
  -webkit-animation-delay: 1.5;
  animation-delay: 1.5;
}
.delay-20 {
  -webkit-animation-delay: 2;
  animation-delay: 2;
}
.delay-25 {
  -webkit-animation-delay: 2.5;
  animation-delay: 2.5;
}
.dark {
  color: #f5f5f5;
  background-color: #262626;
}
.grey {
  color: #000;
  background-color: #f5f5f5;
}
.light {
  color: #000;
  background-color: #fff;
}
.hidden {
  opacity: 0;
  display: none;
}
#main {
  height: 100%;
  min-height: 100%;
  position: relative;
}
.intro-background {
  -webkit-animation: fadein 1s ease-in-out;
  -moz-animation: fadein 1s ease-in-out;
  animation: fadein 1s ease-in-out;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 768px) {
  .intro,
  .news {
    position: fixed;
    width: 50%;
  }
  .intro {
    float: left;
  }
  .news {
    right: 0;
    float: right;
  }
}
@media (max-width: 768px) {
  .intro,
  .news {
    position: relative;
    width: 100%;
  }
}
.intro .octicon:hover,
.news .octicon:hover {
  color: rgba(120,120,120,0.7);
  transition: background 0.2s, color 0.25s;
}
.button {
  color: inherit !important;
}
.intro {
  background-color: #101012;
  height: 100%;
}
.intro .content {
  position: relative;
  padding-top: 24vh;
  min-height: 100%;
  color: #fff;
  line-height: 1.618;
  text-align: center;
  opacity: 0.9;
}
.intro .content .octicon {
  margin: 1em;
  font-size: 3em;
}
.intro .caption {
  position: absolute;
  color: #f5f5f5;
  left: 0;
  bottom: 0;
}
.news {
  position: absolute;
  height: 100%;
}
.news nav {
  height: 5em;
  vertical-align: middle;
  border-bottom: 1px solid #aaa;
}
.news nav span,
.news nav a {
  padding: 2em;
}
.news nav .title {
  display: inline-block;
  float: left;
}
.news nav .menu {
  display: inline-block;
  float: right;
  cursor: pointer;
}
.news .detail {
  text-align: center;
  padding: 6em;
  transition: background 0.2s, color 0.25s, opacity 0.2s;
}
.news .detail p {
  font-size: 1.6em;
  line-height: 1.5;
}
.news .detail a {
  color: rgba(120,120,120,0.7);
  text-decoration: none;
}
.news .detail .works .box {
  margin: 2em 0 2em;
  padding: 1em;
  border: 1px solid #bbb;
}
.news .detail .works .octicon {
  margin: 1em;
  font-size: 3em;
}
